<% if(typeof error === 'string') {%>
    <div class="altert alert-danger">                        
        <%= error %>
    </div>
<% } %>
<% if(typeof success === 'string') {%>
    <div class="altert alert-success">                        
        <%= success %>
    </div>
<% } %>